.not-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.not-found h1{
    font-size: 50px;
}

.not-found a{
    text-decoration: none;
    color: #fff;
    background-color: #f38217;
    padding: 10px;
}