.filme-info{
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.filme-info img{
    border-radius: 20px;
}
.filme-info button{
    margin-right: 5px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    outline: none;
    font-size: 20px;
    padding: 12px;

    transition: all 0.5s;
    
}

.filme-info button:hover{
    background-color: #f38217;
    color: #fff;

}

.filme-info a{
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
}

.filme-info a:hover{
    color: #fff;
}