body {
    padding: 10px;
    background: #fff;
    
}
.interna {
    margin: auto;
    background: #78e4ff;
    width: 280px;
    height: 280px;
    text-align: center;
    
    h1 {
        font-weight: 900;
    }
    label {
        font-weight: bold;
        padding: 5px;
    }
}
